.header{
    display: flex;
    justify-content: space-between;

}

.logo{
    width: 10rem;
    height: 3rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #fff;
    font-family: 'Segoe UI';
}

.header-menu > li{
    cursor: pointer;
}

.header-menu > li:hover{
    cursor: pointer;
    color: var(--orange);
}

.join{
    position: absolute;
    right: 3rem;
    top: 3.3rem;
    color: #000;
    z-index: 999;
    padding: 10px 20px;
    border: none;
    font-family: 'Segoe UI';
    font-size: 1rem;
}